service cloud.firestore {
  match /databases/{database}/documents {
  //do this temporarily
    match /users/{anything=**} {
      allow read, write: if true;
    }
  }
}