#tabBar
{
  top:10px;
  width: 100%;
  position: absolute;
  background-color: lightblue;
  height:50px;
}
.tabButton 
{
  top:0px;
  font-size: larger;
  font-weight: bolder;
  color: whitesmoke;
  position: absolute;
  margin-left: 20px;
}
#tab1{
  left:150px;
}
#tab2 {
  left:250px;
}
#tab3 {
  left:350px;
}
#tab4{
  left:450px;
}
#tab5{
  left:550px;
}
.graphicImg {
  position: absolute;
}
#topRowImg {
  top:30px;
  left:10px;
}
#topRowTxt {
  top:30px;
  left:10px;
}

#toggleLogin {
  position: absolute;
  right: 20px;
  z-index: 10;
}
#Twitter {
  position: absolute;
  left: 80px;
}
#Google {
  position: absolute;
  left: 160px;
}
#authLogos {
  position: absolute;
  top:20px;
  left:20px;
}
.topgraphicImg{
  position: absolute;
  top:150px;
  margin-top: 50px;
}
.bottomgraphicImg {
  position: absolute;
  top: 300px;
}

.middlegraphicImg {
  position: absolute;
  top: 500px;
}
/* Authentication CSS */
.auth {
  position: absolute;
  top:0px;
  font-size: larger;
  font-weight: bolder;
  color: whitesmoke;
}
#titleBar {
  top:0px;
  margin-top: 10px;
  position: absolute;
}
#signIn {
  position: absoloute;
  top:40%;
}