#tabBar
{
  top:10px;
  width: 100%;
  position: absolute;
  background-color: lightblue;
  height:50px;
}
.tabButton 
{
  top:0px;
  font-size: larger;
  font-weight: bolder;
  color: whitesmoke;
  position: absolute;
  margin-left: 20px;
}
#tab1{
  left:150px;
}
#tab2 {
  left:250px;
}
#tab3 {
  left:350px;
}
#tab4{
  left:450px;
}
#tab5{
  left:550px;
}

#toggleLogin {
  position: absolute;
  right: 20px;
  z-index: 10;
}

/* Authentication CSS */
.auth {
  position: absolute;
  top:0px;
  font-size: larger;
  font-weight: bolder;
  color: whitesmoke;
}
#Google {
  position: absolute;
  top:40%;
}
#signIn {
  position: absoloute;
  top:40%;
}