#titleBar {
    top:0px;
    margin-top: 20px;
    position: absolute;
  }
#video {
    position: absolute;
    top: 60px;
    left:200px;
    height: 300px;
}
.videoBtn {
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
height: 50px;
width: 300px;
color:white;
font-weight: bold;
text-align: center;
font-size: xx-large;

/* Red */
background: #EB5757;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;

}
.sendText{
    left:300px;
}
.sendtext{
    color:  #EB5757;
}
#toggleCall{
    top:750px;
    left: 17%;
}
#leaveCall {
    left:150px;
    top: 650px;
}
#findNewBuddy {
    left: 550px;
    top:650px;

}
#videos {
  height: 200px;


}
#convo1 {
    /* Lorem ipsum sapien eget mi proin sed libero enim sed. */
    /* Rectangle 5 */
z-index: 2;
position: absolute;
width: 333px;
height: 73.91px;
left: 1090px;
top: 315.09px;

background: #C4C4C4;
border-radius: 20px;


/* Gray 6 */
background: url(videoImgs/text1.png);

}
#person1{
/* friendly-ones (1) 1 */

position: absolute;
left: -14.06%;
right: 0%;
top: -20.31%;
bottom: -176.56%;


}
#person2{
/* friendly-ones 1 */

position: absolute;
left: -10.94%;
right: 0%;
top: -4.69%;
bottom: -179.69%;




}
body {
    background: #ECEFF1;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#textMessage{
    margin-top: 10px;
    z-index: -10px;
    position: absolute;
}
#messageContainer{
position: absolute;
width:550px;
bottom: 10px;
height:100px;
right:60px;
background-color: #eb575775 ;;
}
#messageDiv2 {
    position: absolute;
width:520px;
height: 70px;
margin-top: 15px;
left:50%;
transform: translate(-50%, 0%);
background-color: white;
}
#messageDiv{
    position: absolute;
    left:80px;
}
#textInput{
    height: 100%;
    width: 100%;
    outline-style: none;
    border-width:0px;
    border:none;
    margin-left: 5px;
    margin-right: 5px;
    overflow: auto;
}
#submit {
    position: absolute;
    bottom: 5px;
    right: 20px;
    width: 200px;
    color:white;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    background: #EB5757;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
}
#text{
    z-index: 10px;
    position: absolute;
    width: 300px;
    color:whitesmoke;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 20px;
}
#convo {
    background-color: #eb575775 ;
    position: absolute;
    height:700px;
    right:3%;
    top:100px;
    width:550px;
}
#convoDiv {
    background-color: white;
    position: absolute;
    height:680px;
    right:3%;
    top:50%;
    left:50%;
    width:530px;
    transform: translate(-50%, -50%);
    overflow: auto;
}
#message {
    background: white;
    max-width: 360px;
    margin: 100px auto 16px;
    padding: 32px 24px;
    border-radius: 3px;
}
#container {
    margin: 0px auto;
    top: 100px;
    left:100px;
    position: absolute;
	width: 800px;
	height: 600px;
	border: 10px #EB5757 solid;
}
#videoElement {
	width: 800px;
	height: 600px;
	background-color: #666;
}
#message h2 {
    color: #ffa100;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
}

#message h1 {
    font-size: 22px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 16px;
}

#message p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 14px;
}

#message a {
    display: block;
    text-align: center;
    background: #039be5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
}

#message, #message a {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 13px;
}

#divider {
    /* Line 2 */

position: absolute;
width: 894.01px;
height: 0px;
left: 600px;
top: 533px;

/* Gray 4 */
border: 1px solid #BDBDBD;
transform: rotate(90.19deg);

}
#smallPicture {
    /* image 6 */

position: absolute;
width: 294px;
height: 178px;
left: 687px;
top: 103px;

background: url(./img/image6.png);

}